/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700')*/ 
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: local('Poppins Thin'), local('Poppins-Thin'), url(poppins/Poppins-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins Light'), local('Poppins-Light'), url(poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins'), local('Poppins-Regular'), url(poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(/content/fonts/poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: local('Poppins Italic'), local('Poppins-Italic'), url(/content/fonts/poppins/Poppins-Italic.ttf) format('truetype');
}
