-- check data 
select * from sec.UserPriviledge
select * from sec.UserDevice
select * from sec.UserApplication
select * from sec.Menu
select * from sec.Application
select * from sec.Device
select * from sec.[User]

-- delete all data
delete from sec.UserPriviledge
delete from sec.UserDevice
delete from sec.UserApplication
delete from sec.Menu
delete from sec.Application
delete from sec.Device
delete from sec.[User]

-- delete application menu
DECLARE @applicationid int;
set @applicationid = 111;

select * from sec.UserPriviledge WHERE  MenuId in(select MenuId from sec.Menu WHERE ApplicationId = @applicationid)
select * from sec.Menu WHERE ApplicationId = @applicationid

delete from sec.UserPriviledge WHERE  MenuId in(select MenuId from sec.Menu WHERE ApplicationId = @applicationid)
delete from sec.Menu WHERE ApplicationId = @applicationid