USE [IDIMDB]
GO
/****** Object:  Table [irms].[GeneralInformation]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [irms].[GeneralInformation](
	[ArmyId] [int] IDENTITY(1,1) NOT NULL,
	[RegimentNo] [nvarchar](20) NOT NULL,
	[RegimentNoB] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[NameB] [nvarchar](250) NULL,
	[BjoNo] [nvarchar](20) NULL,
	[ParentUnitId] [int] NULL,
	[UnitId] [int] NULL,
	[EnrollmentDate] [datetime] NULL,
	[BirthDate] [datetime] NULL,
	[Picture] [nvarchar](max) NULL,
	[FatherName] [nvarchar](50) NULL,
	[FatherNameB] [nvarchar](50) NULL,
	[FatherRegimentNo] [nvarchar](20) NULL,
	[MotherName] [nvarchar](50) NULL,
	[MotherNameB] [nvarchar](50) NULL,
	[Phone1] [nvarchar](50) NULL,
	[Phone2] [nvarchar](50) NULL,
	[Phone3] [nvarchar](50) NULL,
	[NationalId] [nvarchar](30) NULL,
	[IsFreedomFighter] [bit] NOT NULL,
	[RankId] [int] NULL,
	[TradeId] [int] NULL,
	[BloodGroupId] [int] NULL,
	[MedicalCategoryId] [int] NULL,
	[BatchId] [int] NULL,
	[EducationId] [int] NULL,
	[PresentRankDate] [datetime] NULL,
	[EmploymentTypeIdR] [int] NULL,
	[ServiceTermsIdR] [int] NULL,
	[CoreId] [int] NULL,
	[PoliceVarificationStatusR] [int] NULL,
	[PresentDistrictId] [int] NULL,
	[MaritalStatusId] [int] NULL,
	[MarriageDate] [datetime] NULL,
	[PreviousBasicR] [int] NULL,
	[CurrentBasic] [int] NULL,
	[NextIncrementDate] [datetime] NULL,
	[ExpectedRetirementDate] [datetime] NULL,
	[PayGradeDate] [datetime] NULL,
	[ReligionId] [int] NULL,
	[BjoNoB] [nvarchar](50) NULL,
	[RdoNo] [nvarchar](20) NULL,
	[RdoNoB] [nvarchar](50) NULL,
	[IsActiveStatus] [bit] NOT NULL,
	[MissionStatus] [nvarchar](10) NULL,
	[ClassR] [nvarchar](50) NULL,
	[CastR] [nvarchar](50) NULL,
	[GpfNo] [nvarchar](10) NULL,
	[PostingDate] [datetime] NULL,
	[IsInjuredLiberation] [bit] NOT NULL,
	[IsCivil] [bit] NOT NULL,
	[IsCs] [bit] NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_GeneralInformation] PRIMARY KEY CLUSTERED 
(
	[ArmyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [irms].[SetupUnit]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [irms].[SetupUnit](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](250) NOT NULL,
	[SubOrganizationId] [int] NULL,
	[UnitCode] [nvarchar](250) NULL,
	[UnitFullName] [nvarchar](250) NULL,
	[CoreId] [int] NULL,
	[PlaceId] [int] NULL,
	[UnitNameB] [nvarchar](150) NULL,
	[Remark] [nvarchar](100) NULL,
	[Israb] [int] NULL,
	[SectorId] [int] NULL,
	[RegionId] [int] NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_Regiment_Info] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [sec].[Application]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sec].[Application](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationCode] [nvarchar](255) NOT NULL,
	[ApplicationShortName] [nvarchar](255) NOT NULL,
	[ApplicationName] [nvarchar](50) NOT NULL,
	[Priority] [int] NOT NULL CONSTRAINT [DF_Application_Priority]  DEFAULT ((0)),
	[Url] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [sec].[Device]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sec].[Device](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [nvarchar](250) NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [sec].[Menu]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sec].[Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ControllerName] [nvarchar](255) NULL,
	[MenuType] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[Icon] [nvarchar](50) NULL,
	[IsPublished] [bit] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [sec].[User]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sec].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[ArmyId] [int] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[ResourceType] [int] NOT NULL,
	[UserType] [int] NOT NULL,
	[PersonnelCode] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Remark] [text] NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_UserPrimary] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [sec].[UserApplication]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sec].[UserApplication](
	[UserApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_UserApplication] PRIMARY KEY CLUSTERED 
(
	[UserApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [sec].[UserDevice]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sec].[UserDevice](
	[UserDeviceId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_UserDevice] PRIMARY KEY CLUSTERED 
(
	[UserDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [sec].[UserLoginDevice]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sec].[UserLoginDevice](
	[UserDeviceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DeviceId] [int] NOT NULL,
	[Session] [nvarchar](255) NULL,
	[ValidationCode] [nvarchar](50) NULL,
	[LoggedIn] [datetime] NOT NULL,
	[Loggedout] [datetime] NULL,
 CONSTRAINT [PK_UserLoginDevice] PRIMARY KEY CLUSTERED 
(
	[UserDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [sec].[UserPriviledge]    Script Date: 3/25/2018 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sec].[UserPriviledge](
	[UserPriviledgeId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDateTime] [datetime] NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_UserPriviledge] PRIMARY KEY CLUSTERED 
(
	[UserPriviledgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupBatch] FOREIGN KEY([BatchId])
REFERENCES [irms].[SetupBatch] ([BatchId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupBatch]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupBloodGroup] FOREIGN KEY([BloodGroupId])
REFERENCES [irms].[SetupBloodGroup] ([BloodGroupId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupBloodGroup]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupCore] FOREIGN KEY([CoreId])
REFERENCES [irms].[SetupCore] ([CoreId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupCore]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupDistrict] FOREIGN KEY([PresentDistrictId])
REFERENCES [irms].[SetupDistrict] ([DistrictId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupDistrict]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupEducation] FOREIGN KEY([EducationId])
REFERENCES [irms].[SetupEducation] ([EducationId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupEducation]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupMaritalStatus] FOREIGN KEY([MaritalStatusId])
REFERENCES [irms].[SetupMaritalStatus] ([MaritalStatusId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupMaritalStatus]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupMedicalCategory] FOREIGN KEY([MedicalCategoryId])
REFERENCES [irms].[SetupMedicalCategory] ([MedicalCategoryId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupMedicalCategory]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupRank] FOREIGN KEY([RankId])
REFERENCES [irms].[SetupRank] ([RankId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupRank]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupRegion] FOREIGN KEY([ReligionId])
REFERENCES [irms].[SetupRegion] ([RegionId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupRegion]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupTrade_TradeId] FOREIGN KEY([TradeId])
REFERENCES [irms].[SetupTrade] ([TradeId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupTrade_TradeId]
GO
ALTER TABLE [irms].[GeneralInformation]  WITH CHECK ADD  CONSTRAINT [FK_GeneralInformation_SetupUnit] FOREIGN KEY([UnitId])
REFERENCES [irms].[SetupUnit] ([UnitId])
GO
ALTER TABLE [irms].[GeneralInformation] CHECK CONSTRAINT [FK_GeneralInformation_SetupUnit]
GO
ALTER TABLE [irms].[SetupUnit]  WITH CHECK ADD  CONSTRAINT [FK_SetupUnit_SetupCore] FOREIGN KEY([CoreId])
REFERENCES [irms].[SetupCore] ([CoreId])
GO
ALTER TABLE [irms].[SetupUnit] CHECK CONSTRAINT [FK_SetupUnit_SetupCore]
GO
ALTER TABLE [irms].[SetupUnit]  WITH CHECK ADD  CONSTRAINT [FK_SetupUnit_SetupPlace] FOREIGN KEY([PlaceId])
REFERENCES [irms].[SetupPlace] ([PlaceId])
GO
ALTER TABLE [irms].[SetupUnit] CHECK CONSTRAINT [FK_SetupUnit_SetupPlace]
GO
ALTER TABLE [irms].[SetupUnit]  WITH CHECK ADD  CONSTRAINT [FK_SetupUnit_SetupRegion] FOREIGN KEY([RegionId])
REFERENCES [irms].[SetupRegion] ([RegionId])
GO
ALTER TABLE [irms].[SetupUnit] CHECK CONSTRAINT [FK_SetupUnit_SetupRegion]
GO
ALTER TABLE [irms].[SetupUnit]  WITH CHECK ADD  CONSTRAINT [FK_SetupUnit_SetupSector] FOREIGN KEY([SectorId])
REFERENCES [irms].[SetupSector] ([SectorId])
GO
ALTER TABLE [irms].[SetupUnit] CHECK CONSTRAINT [FK_SetupUnit_SetupSector]
GO
ALTER TABLE [irms].[SetupUnit]  WITH CHECK ADD  CONSTRAINT [FK_SetupUnit_SubOrganization] FOREIGN KEY([SubOrganizationId])
REFERENCES [budget].[SubOrganization] ([SubOrganizationId])
GO
ALTER TABLE [irms].[SetupUnit] CHECK CONSTRAINT [FK_SetupUnit_SubOrganization]
GO
ALTER TABLE [sec].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Application] FOREIGN KEY([ApplicationId])
REFERENCES [sec].[Application] ([ApplicationId])
GO
ALTER TABLE [sec].[Menu] CHECK CONSTRAINT [FK_Menu_Application]
GO
ALTER TABLE [sec].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_GeneralInformation_ArmyId] FOREIGN KEY([ArmyId])
REFERENCES [irms].[GeneralInformation] ([ArmyId])
GO
ALTER TABLE [sec].[User] CHECK CONSTRAINT [FK_User_GeneralInformation_ArmyId]
GO
ALTER TABLE [sec].[UserApplication]  WITH CHECK ADD  CONSTRAINT [FK_UserApplication_Application_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [sec].[Application] ([ApplicationId])
GO
ALTER TABLE [sec].[UserApplication] CHECK CONSTRAINT [FK_UserApplication_Application_ApplicationId]
GO
ALTER TABLE [sec].[UserApplication]  WITH CHECK ADD  CONSTRAINT [FK_UserApplication_User_UserId] FOREIGN KEY([UserId])
REFERENCES [sec].[User] ([UserId])
GO
ALTER TABLE [sec].[UserApplication] CHECK CONSTRAINT [FK_UserApplication_User_UserId]
GO
ALTER TABLE [sec].[UserDevice]  WITH CHECK ADD  CONSTRAINT [FK_UserDevice_Device_DeviceId] FOREIGN KEY([DeviceId])
REFERENCES [sec].[Device] ([DeviceId])
GO
ALTER TABLE [sec].[UserDevice] CHECK CONSTRAINT [FK_UserDevice_Device_DeviceId]
GO
ALTER TABLE [sec].[UserDevice]  WITH CHECK ADD  CONSTRAINT [FK_UserDevice_User_UserId] FOREIGN KEY([UserId])
REFERENCES [sec].[User] ([UserId])
GO
ALTER TABLE [sec].[UserDevice] CHECK CONSTRAINT [FK_UserDevice_User_UserId]
GO
ALTER TABLE [sec].[UserLoginDevice]  WITH CHECK ADD  CONSTRAINT [FK_UserLoginDevice_Device_DeviceId] FOREIGN KEY([DeviceId])
REFERENCES [sec].[Device] ([DeviceId])
GO
ALTER TABLE [sec].[UserLoginDevice] CHECK CONSTRAINT [FK_UserLoginDevice_Device_DeviceId]
GO
ALTER TABLE [sec].[UserLoginDevice]  WITH CHECK ADD  CONSTRAINT [FK_UserLoginDevice_User_UserId] FOREIGN KEY([UserId])
REFERENCES [sec].[User] ([UserId])
GO
ALTER TABLE [sec].[UserLoginDevice] CHECK CONSTRAINT [FK_UserLoginDevice_User_UserId]
GO
ALTER TABLE [sec].[UserPriviledge]  WITH CHECK ADD  CONSTRAINT [FK_UserPriviledge_Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [sec].[Menu] ([MenuId])
GO
ALTER TABLE [sec].[UserPriviledge] CHECK CONSTRAINT [FK_UserPriviledge_Menu_MenuId]
GO
ALTER TABLE [sec].[UserPriviledge]  WITH CHECK ADD  CONSTRAINT [FK_UserPriviledge_User_UserId] FOREIGN KEY([UserId])
REFERENCES [sec].[User] ([UserId])
GO
ALTER TABLE [sec].[UserPriviledge] CHECK CONSTRAINT [FK_UserPriviledge_User_UserId]
GO
